<div class="input-group mb-3">
  <input id="message" class="form-control" type="text" />
  <div class="input-group-append">
    <button id="send_message" class="btn btn-outline-secondary" type="button">Send</button>
  </div>
</div>

