<div class="username_cont mb-3">
  <div class="current_username">Welcome, <span>Anoymous</span></div>

  <div class="input-group mb-3">
    <input class="form-control" id="username" type="text" />
    <div class="input-group-append">
      <button id="send_username" class="btn btn-outline-secondary" type="button">Change username</button>
    </div>
  </div>
</div>